SUPABASE_URL=https://pankmvkykwcnxtaacasv.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBhbmttdmt5a3djbnh0YWFjYXN2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjI3MDkxNjYsImV4cCI6MjA3ODI4NTE2Nn0.d--cEyPm0XbeU7thro6cLn-UXp48v86XtBaFH9lDqKE